@import "reset";
//@import "jquery-ui";
@font-face {
    font-family: consolas;
    src: url(fonts/consolas.ttf);
}
* {
    background: #333333;
    color: #cccccc;
    font-family: consolas;
}
body {
    .todo {
        div {
            max-width: 50vw;
            height: 180px;
            position: absolute;
            bottom: 60px;
            line-height: 30px;
            font-size: 25px;
        }
        .left {
            right: 50vw;
            p {
                text-align: right;
            }
        }
        .right {
            left: 50vw;
            min-width: 18px;
            p:focus {
                outline: 1px solid black;
                min-width: 18px;
            }
        }
    }
}
