/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: arcadeFont;
  src: url("font.ttf"); }
body {
  background: #2a2a2a;
  font-family: "arcadeFont";
  color: #a2a2a2; }
  body header {
    text-align: center;
    font-size: 25vh; }
  body #menu {
    width: 85vw;
    height: 65vh;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0%); }
    body #menu #left {
      height: 100%;
      padding-left: 10vw;
      padding-right: 10vw;
      float: left;
      border: 1px solid #a2a2a2;
      text-align: center; }
      body #menu #left h2 {
        font-size: 7vh;
        line-height: 7vh; }
      body #menu #left h3 {
        font-size: 4.5vh;
        line-height: 4.5vh; }
    body #menu #right {
      height: 100%;
      width: 40%;
      float: right;
      clear: none; }
      body #menu #right div {
        position: absolute;
        width: 35vw;
        height: 25vh;
        border: 1px solid #a2a2a2; }
      body #menu #right #playButton {
        cursor: pointer; }
        body #menu #right #playButton h2 {
          font-size: 15vw;
          text-align: center;
          line-height: 25vh;
          vertical-align: middle; }
      body #menu #right #difficulty {
        padding-top: 7.5vh;
        bottom: -2px;
        text-align: center; }
        body #menu #right #difficulty form {
          font-size: 6vh;
          vertical-align: middle;
          line-height: 6vh; }
          body #menu #right #difficulty form input {
            margin: 0;
            line-height: 6vh;
            vertical-align: middle;
            width: 3vh;
            height: 3vh; }
  body #game #gameButtons {
    margin: auto;
    width: 72vh; }
    body #game #gameButtons div {
      width: 25vh;
      height: 25vh;
      margin: 5vh;
      border-radius: 100%;
      display: inline-block;
      opacity: .33; }
    body #game #gameButtons #b0 {
      background: #0000ff; }
    body #game #gameButtons #b1 {
      background: #ff0000; }
    body #game #gameButtons #b2 {
      background: #00ff00; }
    body #game #gameButtons #b3 {
      background: #ffff00; }
  body #game #score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0); }
    body #game #score h2 {
      font-size: 20vh; }
